@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pro: var(--font-anonymous-pro);

  /* Universal Colour Themes */
  --color-text: #000000;
  --color-prussian: #14213D;
  --color-alabaster: #E5E5E5;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-anonymous-pro), sans-serif, Arial, Helvetica;
}
